<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="text" width="device">
        <title>About</title>
        <link rel="icon" href="/img/weather.png">        
        <link rel="stylesheet" href="./css/styles.css">
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <img class="portrait" src="./img/Zhang_Chunfu_Web_Photo.jpg">
        </div>
        {{>footer}}     
    </body>
</html>